.App{
  display: inline-block;
  border-width: 50%;
  border: 1px;
  text-align: center;

  width: 50%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  border-radius: 40px;
  padding: 20px;

  font-size: 40px;
  margin-top: 20%;
  margin-bottom: 18%;
  color: #fafefe;
  background-color: #d4623d;
}

.App-title{
  font-size: 60px;
}

.Clock-hours, .Clock-minutes, .Clock-seconds, .Clock-days{
  display: inline;
  margin: 10px;
}

.Deadline-input{
  font-size: 25px;
  margin: 5px;
}

body{
  background-image: url("rooster.jpg");
  background-size: contain;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
